.editTree :global(.ant-tree-title) {
  color: #1e293b !important;
}

.editTree :global(.ant-tree-node-content-wrapper) {
  color: #1e293b !important;
}

.editTree :global(.ant-tree-switcher),
.editTree :global(.ant-tree-iconEle) {
  color: #64748b !important;
}
